@model PersonalBlog.ViewModels.CreateMissionViewModel

@section head {
    <STYLE type="text/css">
        /* Any css you want to add */
    </STYLE>
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Mission add</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-controller="Dashboard" asp-action="Index">Dashboard</a></li>
                    <li class="breadcrumb-item"><a asp-controller="Mission" asp-action="Index">Mission</a></li>
                    <li class="breadcrumb-item active">Mission add</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-6">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">General</h3>
                </div>
                <div class="card-body">
                    <form class="form-horizontal" asp-controller="Mission" asp-action="CreateMission" method="post">

                        <div class="form-group">
                            <label asp-for="Mission.Date">Date</label>
                            <input type="text" name="Mission.Date" class="form-control" asp-for="Mission.Date" data-mask>
                        </div>

                        <div class="form-group">
                            <label asp-for="Mission.Title">Title</label>
                            <input type="text" name="Mission.Title" class="form-control" asp-for="@Model.Mission.Title">
                        </div>

                        <div class="form-group">
                            <label asp-for="Mission.Description">Description</label>
                            <input type="text" name="Mission.Description" class="form-control" asp-for="@Model.Mission.Description">
                        </div>

                        <div class="form-group">
                            <label asp-for="Mission.Sector">Sector</label>
                            <select name="Mission.Sector" class="form-control custom-select" asp-for="@Model.Mission.Sector">
                                <option selected disabled>Select one</option>
                                <option value="0">Banking</option>
                                <option value="1">Industry</option>
                                <option value="2">Food & beverage</option>
                                <option value="3">Pharmaceutical</option>
                                <option value="4">Art & sport</option>
                                <option value="5">Consultancy</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label asp-for="Mission.CompanyId">Company</label>
                            <select name="Mission.CompanyId" class="form-control custom-select" asp-for="Mission.CompanyId" asp-items="@Model.Companies">
                                <option>Please select one</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label asp-for="Mission.DatabaseId">Sector</label>
                            <select name="Mission.DatabaseId" class="form-control custom-select" asp-for="Mission.DatabaseId" asp-items="@Model.Databases">
                                <option>Please select one</option>
                            </select>
                        </div>

                        <div>
                            <a class="btn btn-secondary" asp-controller="Mission" asp-action="Index">Cancel</a>
                            <input type="submit" value="Create new mission" class="btn btn-success float-right">
                        </div>

                    </form>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
</section>
<!-- /.content -->

@section scripts {
    <script>
        $(function () {
            // https://github.com/RobinHerbots/Inputmask
            $('[data-mask]').inputmask({ alias: "dd/mm/yyyy"});
        })
    </script>
}
