@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head {
    @RenderSection("head", required: false)
}

@section headerLeftNavItems {
    @RenderSection("headerLeftNavItems", required: false)
}

@section headerRightNavItems {
    @RenderSection("headerRightNavItems", required: false)
}

@section headerDropdownRightNavItems {
    @RenderSection("headerDropdownRightNavItems", required: false)
}

@section controlSidebar
{
  <div class="maxi">
    <div class="border-xl border-top border-primary"></div>
    <div class="text-center p-4">
        <h1 class="text-primary display-3"><i class="fas fa-blog nav-icon"></i></h1>
        <p class="text-light text-uppercase">About coding & design</p>
    </div>

    <div class="border-top border-bottom border-light-grey bg-grey p-4">
        <span class="text-primary text-uppercase"><strong>Social</strong></span>
        <p class="pt-3">sdkfhs kfhjs kfjhs kfhs kfjhs fkjs kskfs dfkjs fks kfs fkh eiruyi uye uirtyz uytr df nxcbvw vsjdfgh js</p>
    </div>

    <div class="bg-grey">
        <ul>
            <li class="nav-item p-0">
                  <a href="#" class="nav-link px-4 py-2">
                    Share with your friends
                    <span class="float-right"><i class="fas fa-share"></i></span>
                  </a>
              </li>
              <li class="nav-item p-0">
                  <a href="#" class="nav-link px-4 py-2">
                    Like on facebook
                    <span class="float-right"><i class="fas fa-thumbs-up"></i></span>
                  </a>
              </li>
              <li class="nav-item p-0">
                  <a href="#" class="nav-link px-4 py-2">
                    Write a comment
                    <span class="float-right"><i class="fas fa-comments"></i></span>
                  </a>
              </li>
        </ul>        
    </div>
    <div class="border-bottom border-light-grey bg-grey pt-0 p-4">
        <span class="text-primary text-uppercase"><strong>Categories</strong></span>
        <p class="pt-3">sdkfhs kfhjs kfjhs kfhs kfjhs fkjs kskfs dfkjs fks kfs fkh eiruyi uye uirtyz uytr df nxcbvw vsjdfgh js</p>
    </div>

    <div class="bg-grey">
        <ul>
            <li class="nav-item p-0">
                <a href="#" class="nav-link px-4 py-2">
                C-Sharp
                <span class="float-right text-white">C#</span>
                </a>
            </li>
            <li class="nav-item p-0">
                <a href="#" class="nav-link px-4 py-2">
                Microsoft.Net
                <span class="float-right text-white">.Net</span>
                </a>
            </li>
            <li class="nav-item p-0">
                <a href="#" class="nav-link px-4 py-2">
                Framework Aurelia
                <span class="float-right text-white">Au</span>
                </a>
            </li>
            <li class="nav-item p-0">
                <a href="#" class="nav-link px-4 py-2">
                JavaScript
                <span class="float-right text-white">Js</span>
                </a>
            </li>
            <li class="nav-item p-0">
                <a href="#" class="nav-link px-4 py-2">
                TypeScript
                <span class="float-right text-white">Ts</span>
                </a>
            </li>
        </ul>        
    </div>
  </div>
  <div class="mini">
      <div class="border-bottom border-light-grey h-70 text-center">
            <div class="border-xl border-top border-primary"></div>
            <h3 class="text-primary py-3"><i class="fas fa-blog nav-icon"></i></h3>
        </div>
      
      <div class="border-bottom border-light-grey bg-grey text-center py-2">
          <span class="text-primary text-uppercase"><strong>Social</strong></span>
      </div>

      <div class="bg-grey">
          <ul>
              <li class="nav-item text-center p-0" data-toggle="tooltip" data-placement="left" title="Share with your friends">
                  <a href="#" class="nav-link p-2">
                    <i class="fas fa-share"></i>
                  </a>
              </li>
              <li class="nav-item text-center p-0" data-toggle="tooltip" data-placement="left" title="Like on Facebook">
                  <a href="#" class="nav-link p-2">
                    <i class="fas fa-thumbs-up"></i>
                  </a>
              </li>
              <li class="nav-item text-center p-0" data-toggle="tooltip" data-placement="left" title="Write a comment">
                  <a href="#" class="nav-link p-2">
                    <i class="fas fa-comments"></i>
                  </a>
              </li>
          </ul>        
      </div>
      <div class="border-bottom border-light-grey bg-grey text-center py-2">
          <span class="text-primary text-uppercase"><strong>Categ</strong></span>
      </div>

      <div class="bg-grey">
          <ul>
              <li class="nav-item text-center p-0" data-toggle="tooltip" data-placement="left" title="C-Sharp">
                  <a href="#" class="nav-link p-2">
                    C#
                  </a>
              </li>
              <li class="nav-item text-center p-0" data-toggle="tooltip" data-placement="left" title="Microsoft">
                  <a href="#" class="nav-link p-2">
                    .Net
                  </a>
              </li>
              <li class="nav-item text-center p-0" data-toggle="tooltip" data-placement="left" title="Aurelia">
                  <a href="#" class="nav-link p-2">
                    Au
                  </a>
              </li>
              <li class="nav-item text-center p-0" data-toggle="tooltip" data-placement="left" title="JavaScript">
                  <a href="#" class="nav-link p-2">
                    Js
                  </a>
              </li>
              <li class="nav-item text-center p-0" data-toggle="tooltip" data-placement="left" title="TypeScript">
                  <a href="#" class="nav-link p-2">
                    Ts
                  </a>
              </li>
          </ul>        
      </div>
  </div>
}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!--<div class="col-md-2">
                <partial name="Sidebar" />
            </div>--><!--/.col-->
            <div class="col-md-12">

                @RenderBody()

            </div><!--/.col-->
            <!--<div class="col-md-3">
                at_sigle await Component.InvokeAsync("Chat")
                <com>
            </div>-->
            <!-- /.col -->
        </div><!--/.row-->
    </div><!--/.container-fluid-->
</section><!--/.content-->

@section scripts 
{
    <script>
        $('[data-toggle="tooltip"]').tooltip();
    </script>
    
    @RenderSection("scripts", required: false)
}