@model IEnumerable<PersonalBlog.Models.Experience>

@section head {
  <STYLE type="text/css">
    /* Any css you want to add */
    .dataTables_length,
    .dataTables_info {
      margin-left: 15px;
    }
    .dataTables_filter,
    .dataTables_paginate {
      margin-right: 15px;
    }
    .pagination {
      margin-top: 15px !important;
      margin-bottom: 15px !important;
      margin-right: 15px !important;
    }
    td.col-description {
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: calc(45vw);
        overflow: hidden;
    }
    td.no-wrap {
        white-space: nowrap;
        text-overflow: ellipsis;
    }
  </STYLE>
}

    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Experiences</h1>
          </div>
          <div class="col-sm-6">
            <a class="btn btn-success btn-sm float-right" asp-controller="Resume" asp-action="Create">
              <i class="fas fa-plus"></i> Create
            </a>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="card">
        <div class="card-header border-0">
        </div>
        <div class="card-body p-0">
          <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        Date
                    </th>
                    <th>
                        Sector/Company
                    </th>
                    <th>
                        Title
                    </th>
                    <th>
                        Description/Database/Languages/Frameworks
                    </th>
                    <th>
                    </th>
                </tr>
            </thead>
            <tbody>
              @foreach (var item in Model)
              {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date, "MonthYear")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sector) <br />
                        @Html.DisplayFor(modelItem => item.Company.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td class="col-description">
                        @Html.DisplayFor(modelItem => item.Description)
                        <br />
                        @{
                            if (item.Database != null)
                            {
                                <span class="badge" style="color: white; background-color: @item.Database.Color; border-color: @item.Database.Color;">@item.Database.Name</span>
                            }

                            foreach (var elm in item.ExperienceTags)
                            {
                                <span class="badge" style="color: white; background-color: @elm.Tag.Color; border-color: @elm.Tag.Color;">@elm.Tag.Name</span>
                            }
                        }
                    </td>
                    <td class="project-actions text-right no-wrap">
                        <a class="btn btn-primary btn-sm" asp-controller="Resume" asp-action="View" asp-route-id="@item.Id">
                            <i class="fas fa-eye">
                            </i>
                        </a> &nbsp;
                        <a class="btn btn-info btn-sm" asp-controller="Resume" asp-action="Update" asp-route-id="@item.Id">
                            <i class="fas fa-pencil-alt">
                            </i>
                        </a> &nbsp;
                        <a class="btn btn-danger btn-sm" href="#" onclick="Delete('@item.Id')">
                            <i class="fas fa-trash">
                            </i>
                        </a>
                    </td>
                </tr>
              }
            </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->

    </section>
    <!-- /.content -->

<!-- page script -->

@section scripts {
     
  <script>
    
    $(function () {
      $('.table').DataTable({
        "paging": true,
        "lengthChange": true,
        "searching": true,
        "ordering": true,
        "info": true,
        "autoWidth": true,
      });
    });

    function Delete(id){
        var txt;
        var r = confirm("Are you sure you want to Delete?");
        if (r == true) {
            
            $.ajax(
            {
                type: "POST",
                url: '@Url.Action("Delete", "Resume")',
                data: {
                    id: id
                },
                error: function (result) {
                    alert("error");
                },
                success: function (result) {
                    if (result == true) {
                        var baseUrl="/Resume";
                        window.location.reload();
                    }
                    else {
                        alert("There is a problem, Try Later!");
                    }
                }
            });
        } 
    }
  </script>

}