@model PersonalBlog.ViewModels.UpdateExperienceViewModel

@section head {
    <STYLE type="text/css">
        /* Any css you want to add */
    </STYLE>
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Experience update</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-controller="Dashboard" asp-action="Index">Dashboard</a></li>
                    <li class="breadcrumb-item"><a asp-controller="Experience" asp-action="Index">Experience</a></li>
                    <li class="breadcrumb-item active">Experience update</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-6">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">General</h3>
                </div>
                <div class="card-body">
                    <form class="form-horizontal" asp-controller="Experience" asp-action="UpdateExperience" method="post">

                        @Html.Hidden("Experience.Id")

                        <div class="form-group">
                            <label asp-for="Experience.Date">Date</label>
                            <input type="text" name="Experience.Date" class="form-control" asp-for="Experience.Date" data-mask>
                        </div>

                        <div class="form-group">
                            <label asp-for="Experience.Title">Title</label>
                            <input type="text" name="Experience.Title" class="form-control" asp-for="Experience.Title">
                        </div>

                        <div class="form-group">
                            <label for="Experience.Description">Description</label>
                            <textarea name="Experience.Description" class="form-control" asp-for="Experience.Description" rows="4">
                            </textarea>
                        </div>

                        <div class="form-group">
                            <label asp-for="Experience.Sector">Sector</label>
                            <select name="Experience.Sector" class="form-control custom-select" asp-for="Experience.Sector">
                                <option selected disabled>Select one</option>
                                <option value="0">Banking</option>
                                <option value="1">Industry</option>
                                <option value="2">Food & beverage</option>
                                <option value="3">Pharmaceutical</option>
                                <option value="4">Art & sport</option>
                                <option value="5">Consultancy</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label asp-for="Experience.CompanyId">Company</label>
                            <select name="Experience.CompanyId" class="form-control custom-select" asp-for="Experience.CompanyId" asp-items="@Model.SelCompanies">
                                <option>Please select one</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label asp-for="Experience.DatabaseId">Database</label>
                            <select name="Experience.DatabaseId" class="form-control custom-select" asp-for="Experience.DatabaseId" asp-items="@Model.SelDatabases">
                                <option>Please select one</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label asp-for="Experience.ExperienceTags">Languages</label>
                            <select multiple="multiple" name="SelectedTagIds" class="form-control custom-select select2" asp-for="@Model.SelectedTagIds" asp-items="@Model.SelTags">
                            </select>
                        </div>

                        <div>
                            <a class="btn btn-secondary" asp-controller="Resume" asp-action="Index">Cancel</a>
                            <input type="submit" value="Update experience" class="btn btn-success float-right">
                        </div>
                    </form>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
</section>
<!-- /.content -->

@section scripts {
    <script>
        $(function () {

            // https://github.com/RobinHerbots/Inputmask
            $('[data-mask]').inputmask({ alias: "dd/mm/yyyy" });

            //Initialize Select2 Elements
            $('.select2').select2({
                templateSelection: function (data, container) {
                    var aryColors = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.ColorLanguages) as String);
                    var selColor = aryColors.find(x => x.Id == data.id).Color;
                    $(container).css("background-color", selColor);
                    $(container).css("border-color", selColor);
                    return data.text;
                }
            });

        })
    </script>
}
