@model IEnumerable<PersonalBlog.Models.Doctor>

@section head {
  <STYLE type="text/css">
    /* Any css you want to add */
  </STYLE>
}

    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Doctors</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a asp-controller="Dashboard" asp-action="Index">Dashboard</a></li>
              <li class="breadcrumb-item active">Doctors</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="card">
        <div class="card-header border-0">
          <h3 class="card-title">Doctors</h3>
          <a class="btn btn-success btn-sm float-right" asp-controller="Doctors" asp-action="Create">
              <i class="fas fa-plus"></i> Create
          </a>
        </div>
        <div class="card-body">
          <table id="doctorsTable" class="table table-bordered table-striped">
              <thead>
                  <tr>
                      <th>
                          Id
                      </th>
                      <th>
                          Name
                      </th>
                      <th>
                          Email
                      </th>
                      <th>
                          Phone
                      </th>
                      <th>
                          Created
                      </th>
                      <th>
                          Specialist
                      </th>
                      <th>
                      </th>
                  </tr>
              </thead>
              <tbody>
                  @foreach (var item in Model)
                {
                  <tr>
                      <td>
                          @Html.DisplayFor(modelItem => item.Id)
                      </td>
                      <td>
                          @Html.DisplayFor(modelItem => item.Name)
                      </td>
                      <td>
                          @Html.DisplayFor(modelItem => item.Email)
                      </td>
                      <td>
                          @Html.DisplayFor(modelItem => item.Phone)
                      </td>
                      <td>
                         @Html.DisplayFor(modelItem => item.Created)
                      </td>
                      <td>
                         @Html.DisplayFor(modelItem => item.Specialist)
                      </td>
                      <td class="project-actions text-right">
                          <a class="btn btn-primary btn-sm" asp-controller="Doctors" asp-action="View" asp-route-id="@item.Id">
                              <i class="fas fa-folder">
                              </i>
                              View
                          </a>
                          <a class="btn btn-info btn-sm" asp-controller="Doctors" asp-action="Update" asp-route-id="@item.Id">
                              <i class="fas fa-pencil-alt">
                              </i>
                              Edit
                          </a>
                          <a class="btn btn-danger btn-sm" href="#" onclick="Delete('@item.Id')">
                              <i class="fas fa-trash">
                              </i>
                              Delete
                          </a>
                      </td>
                  </tr>
                }
              </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->

    </section>
    <!-- /.content -->

<!-- page script -->

@section scripts {
     
  <script>
    
    $(function () {
      $('#doctorsTable').DataTable({
        "paging": true,
        "lengthChange": true,
        "searching": true,
        "ordering": true,
        "info": true,
        "autoWidth": true,
      });
    });

    function Delete(id){
        var txt;
        var r = confirm("Are you sure you want to Delete?");
        if (r == true) {
            
            $.ajax(
            {
                type: "POST",
                url: '@Url.Action("Delete", "Doctors")',
                data: {
                    id: id
                },
                error: function (result) {
                    alert("error");
                },
                success: function (result) {
                    if (result == true) {
                        var baseUrl="/Doctors";
                        window.location.reload();
                    }
                    else {
                        alert("There is a problem, Try Later!");
                    }
                }
            });
        } 
    }
  </script>

}