@model PersonalBlog.Models.Post
@inject IOptionsSnapshot<BlogSettings> settings

@{
    ViewData["Title"] = Model.Title;
    ViewData["Description"] = Model.Excerpt;
    bool showFullPost = ViewContext.RouteData.Values.ContainsKey("slug");
    string host = Context.Request.Scheme + "://" + Context.Request.Host;
    bool isCodePreview = Model.Content.Contains("</code>");

    if (showFullPost)
        Layout = "~/Views/Shared/_LayoutBlog.cshtml";
}

<div class="card card-widget">
    <div class="card-header">
        <div class="user-block">
        <img class="img-circle" src="~/img/user-photo-grayscale.jpg" alt="User Image">
        <span class="username"><a href="@Model.GetLink()">@Model.Title</a></span>
        <span class="description">Posted by Thierry on monday 20</span>
        </div>
        <!-- /.user-block -->
        <div class="card-tools">
        <button type="button" class="btn btn-tool" data-toggle="tooltip" title="Mark as read">
            <i class="far fa-circle"></i></button>
        <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
        </button>
        <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i>
        </button>
        </div>
        <!-- /.card-tools -->
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        @if (showFullPost || settings.Value.ListView == PostListView.FullPosts)
        {
            <p>@Html.Raw(Model.RenderContent())</p>
        }
        else if (settings.Value.ListView == PostListView.TitlesAndExcerpts)
        {
            <p>@Html.Raw(Model.Excerpt)</p>
        }

        <div class="categories">
            Tags: 
            <ul>
                @foreach (Category cat in Model.Categories)
                {
                    <li itemprop="articleSection"><a asp-controller="Blog" asp-action="Category" asp-route-category="@cat.Name.ToLowerInvariant()" asp-route-page=""><span class="badge badge-primary">@cat.Name</span></a></li>
                }
            </ul>
        </div>
        
        <button type="button" class="btn btn-default btn-sm"><i class="fas fa-share"></i> Share</button>
        <button type="button" class="btn btn-default btn-sm"><i class="far fa-thumbs-up"></i> Like</button>
        <span class="float-right text-muted">127 likes - 3 comments</span>
    </div>

    @if (showFullPost)
    {
        <partial name="_Comments" />    
    }

</div>
<!-- /.card -->