@model List<PersonalBlog.Models.CustomUser>

@section head
{
    <STYLE type="text/css">

        .pre-line
        {
            white-space: pre-line;
        }
        .pre-line:first-line 
        {
            line-height: 0px;
        }

    </STYLE>
}


@section headerLeftNavItems 
{
    <li class="nav-item">
      <a class="nav-link" asp-controller="users" asp-action="index">
        <span class="text-uppercase">Users</span>
      </a>
    </li>
}

<!-- Main content -->
<section class="content testimonial-group">
    <div class="row">
        <div class="col-xs-4">

        @for (int i = 0; i < Model.Count; i++)
        {
            if ( i == 0 )
                continue;

                <div class="ucard" color-for-level="@Model[i].Level">
                    <div class="additional">
                        <div class="user-card">
                            <div class="level center">
                            Level @Model[i].Level
                            </div>
                            <div class="points center">
                            @Model[i].Points Points
                            </div>
                            <img gravatar-for="@Model[i]" alt="" class="img-circle img-fluid" />
                        </div>
                        <div class="more-info">
                            <h1>@Model[i].FirstName @Model[i].LastName</h1>
                            <div class="coords">
                            <span denomination-for-role="@Model[i]"></span>
                            <span>Joined @Html.DisplayFor(model => @Model[i].Joinded, "MonthYear")</span>
                            </div>
                            <div class="coords">
                            <span>Position/Role</span>
                            <span>@Model[i].Location</span>
                            </div>
                            <div class="stats">
                            <div>
                                <div class="title">Awards</div>
                                <i class="fa fa-trophy"></i>
                                <div class="value">@Model[i].Awards</div>
                            </div>
                            <div>
                                <div class="title">Matches</div>
                                <i class="fa fa-gamepad"></i>
                                <div class="value">@Model[i].Matches</div>
                            </div>
                            <div>
                                <div class="title">Badges</div>
                                <i class="fas fa-gavel"></i>
                                <div class="value">@Model[i].Badges</div>
                            </div>
                            <div>
                                <div class="title">Coffees</div>
                                <i class="fa fa-coffee"></i>
                                <div class="value">@Model[i].Coffees</div>
                            </div>
                            </div>
                        </div>
                    </div>
                    <div class="general">
                        <h1>@Model[i].FirstName @Model[i].LastName</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a volutpat mauris, at molestie lacus. Nam vestibulum sodales odio ut pulvinar.</p>
                        <span class="more">Mouse over the card for more info</span>
                    </div>
                </div>

            if ( i % 4 == 0 )
            {
               @:</div><div class="col-xs-4">
            }
        }

        </div>
    </div>
</section>
